<footer id="footer">
    <div id="footer-inner">
        <!-- Social Media -->
        <div id="footer-social">
            <h3 class="footer-title">Find us on social media</h3>
            <div id="footer-social-imgs">
                <!-- Instagram -->
                <img class="footer-social-img" src="assets/icons/instagram.png" alt="Instagram" />
                <!-- Facebook -->
                <img class="footer-social-img" src="assets/icons/facebook.png" alt="Facebook" />
                <!-- Twitter -->
                <img class="footer-social-img" src="assets/icons/twitter.png" alt="Twitter" />
            </div>
        </div>
        <!-- Contact Information -->
        <div id="footer-contact">
            <h3 class="footer-title">Contact Information</h3>
            <p>
                <strong>Address:</strong> 123 Hemingway Way, Placeville, United Kingdom
            </p>
            <p><strong>Phone:</strong> 555-555-0011</p>
            <p><strong>Email:</strong> info@yesterday-heroes.co.uk</p>
        </div>
    </div>
    <!-- Copyright -->
    <div id="footer-copyright">
        <span>Copyright 2022 &copy; Yesterday's Heroes</span>
    </div>
</footer>