.main_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 150px;
}

.main_logo_thankyou {
    margin-top: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 150px;
}

.input {
    margin-top: 10px;
    font-size: 20px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

.linking {
    color: #6b675f !important;
    text-decoration: underline !important;
}

.intro_container {
    margin-top: 20px;
}

h1.title {
    margin-top: 50px;
    padding-top: 20px;
    color: black;
    font-size: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}

.title-style {
    background-color: #647c8d;
    height: 70px;
}

.social_share {
    width: 20px;
    height: 20px;
}

.social_share_to {
    background-color: transparent;
    width: 20px;
    height: 20px;
}


/* Override Bootstrap Styling */

.navbar-toggler {
    color: lightgray;
    border-color: transparent;
}

.navbar-toggler-icon {
    background-image: url('main_logo.png') !important;
}


/* Change carousel control arrows to black */

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.nav-color {
    background-color: #efeadf;
}

nav .navbar-nav li a {
    font-family: 'Times New Roman', Times, serif;
    color: #6b675f;
}

.nav-link:hover {
    color: #6e6d6b;
    font-weight: bold;
}

.nav-link.active {
    color: #1c1d1e;
    font-weight: bold;
}

.navbar-brand {
    font-size: 14px;
}

.btn {
    font-size: 18px;
    font-weight: bold;
}

.card-text {
    font-size: 16px;
}

.card-body {
    font-size: 16px;
}


/* Footer Styling  */

#footer {
    background-color: #f0ecdc;
    border-top: 2px solid #e0e0e0;
    margin-top: 10px;
    padding-top: 20px;
}

#footer-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1240px;
    margin: 0 auto;
}

.footer-title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #222;
    text-align: center;
}

#footer-social-imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer-social-img {
    width: 48px;
    height: auto;
    margin: 0 10px;
}

#footer-contact {
    margin-top: 20px;
    text-align: center;
}

#footer-copyright {
    background-color: #424242;
    color: #fafafa;
    text-align: center;
    padding: 15px 0;
}

.alt_image {
    width: 500px;
    height: 300px;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Desktop Styling */

@media screen and (min-width: 1024px) {
    #footer-inner {
        flex-direction: row;
        padding: 0 10px;
    }
    #footer-social,
    #footer-contact {
        width: 50%;
        text-align: center;
    }
    #footer-contact {
        margin-top: 0px;
    }
    .input {
        margin-top: 5px;
        font-size: 14px;
    }
}


/* Mobile Styling */

@media only screen and (max-width: 600px) {
    .navbar-brand {
        font-size: 12px;
    }
    .btn {
        font-size: 14px;
        font-weight: normal;
        text-align: left;
    }
    .card-text {
        font-size: 12px;
    }
    .card-body {
        font-size: 12px;
    }
    .navbar-brand {
        display: none;
    }
    h1.title {
        padding-top: 20px;
        color: black;
    }
    .navbar-toggler-icon {
        background-image: url('main_logo.png') !important;
        object-fit: contain;
        width: 40px;
        height: 40px;
    }
    .alt_image {
        width: 300px;
        height: 300px;
        object-fit: contain;
    }
}